[Desktop Entry]
Type=Application
X-Nemo-Application-Type=silica-qt5
Icon=harbour-kat
Exec=harbour-kat
Name=AuroraKat

[X-Application]
Permissions=Internet;Audio;Microphone;Pictures;UserDirs;MediaIndexing
OrganizationName=ru.ilyavysotsky
ApplicationName=aurorakat
ExecDBus=/usr/bin/harbour-kat
ExportDBusInterfaces=ru.ilyavysotsky.aurorakat
