[Desktop Entry]
Type=Application
X-Nemo-Application-Type=silica-qt5
Icon=harbour-kat
Exec=harbour-kat
Name=Kat


[X-Sailjail]
Permissions=Audio;Bluetooth;Documents;Downloads;Internet;Location;MediaIndexing;Microphone;Music;Pictures;PublicDir;RemovableMedia;UserDirs;Videos
OrganizationName=org.ilyavysotsky
ApplicationName=kat
